<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>



<!--flash[:success] なので、"message_type"では、フラッシュメッセージのタイプを示している
#flashのメッセージに関することなので、taskに変えないこと。-->